# requirements.txt

fastapi
uvicorn[standard]
python-multipart
cloudinary
werkzeug
# Required for asynchronous file I/O operations (used in json_routes.py)
aiofiles
# Required for loading environment variables (used in main.py)
python-dotenv
